*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --vh:calc(1vh - 1px);
}
body{
    background:#131313;
    color: #999;
}
#container{
    height:10vh;
}
#canvas{
    /* height:90vh; */
}